<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="three_wheel_agv">

  <!-- ==================== Base Footprint ==================== -->
  <link name="base_footprint">
  </link>

  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
    <origin xyz="0 0 0.15" rpy="0 0 0" />
  </joint>

  <!-- ==================== Base Link ==================== -->
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="60.0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" 
         iyy="2.0" iyz="0.0" 
         izz="2.6" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.4 0.18" />
      </geometry>
      <material name="green">
        <color rgba="0.1 0.8 0.1 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.6 0.4 0.18" />
      </geometry>
    </collision>
  </link>

  <!-- ==================== IMU ==================== -->
  <link name="imu_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.02" />
      </geometry>
      <material name="purple">
        <color rgba="0.8 0.0 0.8 1.0" />
      </material>
    </visual>
  </link>

  <joint name="imu_joint" type="fixed">
    <parent link="base_link" />
    <child link="imu_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <!-- ==================== 3D Lidar ==================== -->
  <link name="lidar_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.2" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.03" />
      </geometry>
      <material name="cinnabar">
        <color rgba="0.906 0.337 0.196 1.0" />
      </material>
    </visual>
  </link>

  <joint name="lidar_joint" type="fixed">
    <parent link="base_link" />
    <child link="lidar_link" />
    <origin xyz="0 0 0.24" rpy="0 0 0" />
  </joint>

  <!-- ==================== Front Steering Module ==================== -->
  <link name="wheel_front_steering_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1.5" />
      <inertia ixx="0.0045" ixy="0.0" ixz="0.0" iyy="0.0045" iyz="0.0" izz="0.0075" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.03" length="0.06" />
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1.0" />
      </material>
    </visual>
  </link>

  <joint name="wheel_front_steering_joint" type="revolute">
    <parent link="base_link" />
    <child link="wheel_front_steering_link" />
    <origin xyz="0.3 0.0 -0.05" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14159" upper="3.14159" effort="10.0" velocity="5.0" />
  </joint>

  <link name="wheel_front_wheel_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="3.0" />
        <inertia ixx="0.0091" ixy="0.0" ixz="0.0" 
                iyy="0.0091" iyz="0.0" 
                izz="0.015" />  
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0" />
      <geometry>
        <cylinder radius="0.1" length="0.08" />
      </geometry>
      <material name="orange_wheel">
        <color rgba="1.0 0.35 0.0 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0" />
      <geometry>
        <cylinder radius="0.1" length="0.08" />
      </geometry>
    </collision>
  </link>

  <joint name="wheel_front_wheel_joint" type="revolute">
    <parent link="wheel_front_steering_link" />
    <child link="wheel_front_wheel_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-1e9" upper="1e9" effort="10.0" velocity="10.0" />
  </joint>

  <!-- ==================== Left Steering Module ==================== -->
  <link name="wheel_left_steering_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="1.5" />
        <inertia ixx="0.0045" ixy="0.0" ixz="0.0" 
                iyy="0.0045" iyz="0.0" 
                izz="0.0075" />  
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.03" length="0.06" />
      </geometry>
      <material name="grey" />
    </visual>
  </link>

  <joint name="wheel_left_steering_joint" type="revolute">
    <parent link="base_link" />
    <child link="wheel_left_steering_link" />
    <origin xyz="-0.15 0.26 -0.05" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14159" upper="3.14159" effort="10.0" velocity="5.0" />
  </joint>

  <link name="wheel_left_wheel_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="3.0" />
        <inertia ixx="0.0091" ixy="0.0" ixz="0.0" 
                iyy="0.0091" iyz="0.0" 
                izz="0.015" />  
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0" />
      <geometry>
        <cylinder radius="0.1" length="0.08" />
      </geometry>
      <material name="orange_wheel">
        <color rgba="1.0 0.35 0.0 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0" />
      <geometry>
        <cylinder radius="0.1" length="0.08" />
      </geometry>
    </collision>
  </link>

  <joint name="wheel_left_wheel_joint" type="revolute">
    <parent link="wheel_left_steering_link" />
    <child link="wheel_left_wheel_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-1e9" upper="1e9" effort="10.0" velocity="10.0" />
  </joint>

  <!-- ==================== Right Steering Module ==================== -->
  <link name="wheel_right_steering_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="1.5" />
        <inertia ixx="0.0045" ixy="0.0" ixz="0.0" 
                iyy="0.0045" iyz="0.0" 
                izz="0.0075" />  
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.03" length="0.06" />
      </geometry>
      <material name="grey" />
    </visual>
  </link>

  <joint name="wheel_right_steering_joint" type="revolute">
    <parent link="base_link" />
    <child link="wheel_right_steering_link" />
    <origin xyz="-0.15 -0.26 -0.05" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14159" upper="3.14159" effort="10.0" velocity="5.0" />
  </joint>

  <link name="wheel_right_wheel_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="3.0" />
        <inertia ixx="0.0091" ixy="0.0" ixz="0.0" 
                iyy="0.0091" iyz="0.0" 
                izz="0.015" />  
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0" />
      <geometry>
        <cylinder radius="0.1" length="0.08" />
      </geometry>
      <material name="orange_wheel">
        <color rgba="1.0 0.35 0.0 1.0" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0" />
      <geometry>
        <cylinder radius="0.1" length="0.08" />
      </geometry>
    </collision>
  </link>

  <joint name="wheel_right_wheel_joint" type="revolute">
    <parent link="wheel_right_steering_link" />
    <child link="wheel_right_wheel_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-1e9" upper="1e9" effort="10.0" velocity="10.0" />
  </joint>

  <!-- ==================== ros2_control ==================== -->
  <ros2_control name="IgnitionSystem" type="system">
    <hardware>
      <plugin>ign_ros2_control/IgnitionSystem</plugin>
    </hardware>
    <joint name="wheel_front_steering_joint">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
    <joint name="wheel_left_steering_joint">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
    <joint name="wheel_right_steering_joint">
      <command_interface name="position" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
    <joint name="wheel_front_wheel_joint">
      <command_interface name="velocity" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
    <joint name="wheel_left_wheel_joint">
      <command_interface name="velocity" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
    <joint name="wheel_right_wheel_joint">
      <command_interface name="velocity" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
  </ros2_control>

  <!-- ==================== Gazebo Plugins ==================== -->
  <gazebo>
    <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
      <parameters>$(find simulated_chassis)/param/three_wheel_controllers.yaml</parameters>
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
    </plugin>
    <plugin filename="ignition-gazebo-sensors-system" name="ignition::gazebo::systems::Sensors">
    </plugin>
    <plugin name="ignition::gazebo::systems::Imu" filename="ignition-gazebo-imu-system"></plugin>
  </gazebo>

  <!-- ==================== IMU Sensor ==================== -->
  <!-- 工业级 MEMS IMU 噪声模型（参考 Xsens MTi-300 / BMI088 量级） -->
  <!-- 关键：除了白噪声，加入了 dynamic_bias（零偏随机游走），这是真机 SLAM 漂移的主因 -->
  <gazebo reference="imu_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>false</visualize> 
      <topic>/imu</topic>
      <ignition_frame_id>imu_link</ignition_frame_id>

      <imu>
        <frame_id>imu_link</frame_id>
        <!-- 角速度：σ≈0.005 rad/s（≈0.3°/s），零偏不稳定性≈4e-4 rad/s，相关时间1000s -->
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.005</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.005</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.005</stddev>
            </noise>
          </z>
        </angular_velocity>
        <!-- 线加速度：σ≈0.05 m/s²（≈5mg），零偏不稳定性≈0.005 m/s² -->
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.05</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.05</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>0.05</stddev>
            </noise>
          </z>
        </linear_acceleration>
      </imu>
    </sensor>
  </gazebo>

  <!-- ==================== 3D Lidar ==================== -->
  <!-- 模拟真实32线雷达：底部密集（地面约束）上部稀疏 -->
  <!-- 角度分布：±5°内12条线(37.5%)，±5°~±15°16条线(50%)，±15°~±20°4条线(12.5%) -->
  <gazebo reference="lidar_link">
    <sensor name="mid360_sensor" type="gpu_lidar">
      <!-- <enable>true</enable> -->
      <always_on>true</always_on>
      <update_rate>15</update_rate>
      <visualize>true</visualize>
      <topic>/lidar/point_cloud</topic>
      <ignition_frame_id>lidar_link</ignition_frame_id>

      <lidar>
        <frame_id>lidar_link</frame_id>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>-3.1415926</min_angle>
            <max_angle>3.1415926</max_angle>
          </horizontal>
          <!-- ===== 稳定版(v1.0.0-nav-stable)雷达配置，整段覆盖用于对比 ===== -->
          <vertical>
            <samples>32</samples>
            <min_angle>-0.3490</min_angle>
            <max_angle>0.3490</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.2</min>
          <max>45.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <!-- <stddev>0.182</stddev> -->
          <bias_mean>0.0</bias_mean>
          <bias_stddev>0.005</bias_stddev>
          <precision>0.01</precision>
        </noise>
      </lidar>
    </sensor>
  </gazebo>



  <!-- 在 robot 标签的末尾，为每个车轮的 link 指定摩擦参数 -->
  <gazebo reference="wheel_front_wheel_link">
    <surface>
      <friction>
        <ode>
          <mu>0.8</mu>
          <mu2>0.6</mu2>
        </ode>
      </friction>
    </surface>
  </gazebo>

  <gazebo reference="wheel_left_wheel_link">
    <surface>
      <friction>
        <ode>
          <mu>0.8</mu>
          <mu2>0.6</mu2>
        </ode>
      </friction>
    </surface>
  </gazebo>

  <gazebo reference="wheel_right_wheel_link">
    <surface>
      <friction>
        <ode>
          <mu>0.8</mu>
          <mu2>0.6</mu2>
        </ode>
      </friction>
    </surface>
  </gazebo>

</robot>